/* Tiptapエディタ内の装飾を有効にする */
.tiptap-content u {
  text-decoration: underline !important;
}

.tiptap-content strong {
  font-weight: bold !important;
}

.tiptap-content em {
  font-style: italic !important;
}

/* 入力中、どの行にいるか分かりやすくする（任意） */
.tiptap-content p {
  margin-bottom: 0.5rem;
}